<div class="hero">
  <br />
    <div class="frosty col-xs-10 col-xs-offset-1 text-center"> <!-- centers the frosty container and -->
      <br />
    <h1> Learn to code from the pros </h1>
      <br />
    <h1> I am a hacker: Terrence </h1>
      <br />
      <%= link_to 'Learn More', '#', class: 'btn btn-info' %> <!-- here 'info' is the button color -->
      <br /><br />

  </div>
</div>